body {
    background-image: url(images/fondoHtml.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body div {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

#myCanvas {
    border: solid 2px #0f3f3f;
    border-radius: 15px;
    margin: 20px;
    background-image: url(images/fondoCanvas.jpg);

    display: initial;
    /* display: none; */
}
