@font-face {
    font-family: 'Harry Potter';
    src: url("assets/fonts/HarryPotter-ov4z.ttf");
}

:root {
    --blancobase: rgb(200, 200, 200);
    --grisbase: rgb(51, 51, 51);

    --verdebase: rgba(0, 26, 8);
    --verdebase03: rgba(0, 26, 8, 0.3);
    --verdebase06: rgba(0, 26, 8, 0.6);
    --verdebase08: rgba(0, 26, 8, 0.8);

    --naranjabase: rgb(134, 104, 5);
    --naranjabase07: rgb(134, 104, 5, 0.7);

    --negro: rgb(0, 0, 0);
    --negro05: rgba(0, 0, 0, 0.5);
    --negro06: rgba(0, 0, 0, 0.6);
}

/* body */

    body {
        font-family: 'Harry Potter';
        background-image: url(assets/images/azkaban.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    body div {
        text-align: center;
        justify-content: center;
    }

    h1, h2 {    
        margin-bottom: 30px;
    }

    h1 {
        font-size: 70px;
        color: var(--negro);
        text-shadow: 5px 0 10px var(--naranjabase07);
    }

    h2 {
        font-size: 50px;
        color: var(--blancobase);
        text-shadow: 5px 0px 10px var(--negro);
    }

    /* header */

        header {
            padding-bottom: 20px;
            justify-content: center;
        }

        /* intro */

            .intro {
                padding-right: 50px;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #texto {
                font-size: 17px;
                color: var(--blancobase);
                background-color: var(--verdebase03);
                border-radius: 15px;
                width: 90%;
                max-width: 750px;
                padding: 40px;
                text-align: justify;
            }
            #texto:hover {
                background-color: var(--verdebase08);
            }

        /* fin intro */

        /* start */

            /* nombrePlayer */

                #nombrePlayer {
                    font-family: 'Harry Potter';
                    font-size: 19px;
                    background-color: var(--grisbase); 
                    color: var(--blancobase);
                    border: 2px solid var(--verdebase);
                    border-radius: 8px;
                    width: 100%;
                    max-width: 300px;
                    padding: 12px 20px;
                    margin-top: 20px;
                    display: inline;
                }
                #nombrePlayer:focus {
                    background-color: #2b2b2b;
                    border-color: var(--verdebase);
                }

            /* fin nombrePlayer */

            /* nuevaPartida */

                #nuevaPartida {
                    font-family: 'Harry Potter';
                    font-size: 19px;
                    background-color: var(--verdebase);
                    color: var(--blancobase);
                    border: none;
                    border-radius: 8px;
                    padding: 15px 30px;
                    cursor: pointer;
                    transition: 0.3s ease;
                }
                #nuevaPartida:hover {
                    background-color: var(--negro); 
                    transform: scale(1.1); 
                }
                #nuevaPartida:disabled {
                    background-color: var(--grisbase);
                    cursor: auto;
                    transform: none;
                }

            /* fin nuevaPartida*/

        /* fin start */

    /* fin header */

    /* main */

        /* canvas */

            #mensajePlayer {
                font-size: 60px;
                color: var(--naranjabase);
                text-shadow: 5px 0 5px var(--negro);
                padding: 0;
                margin: 20px 0 30px 0;
                display: none; 
            }

            #vidas img {
                width: 40px;
                padding: 0;
            }

            #info {
                display: flex;
                justify-content: center;
            }

            #info #spans {
                width: 600px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            #info #spans span {
                color: var(--blancobase);
                background-color: var(--negro06);
                border-radius: 15px;
                padding: 5px 15px;
                display: none;
            }

            #myCanvas {
                background-image: url(assets/images/fondoCanvas.jpg);
                border: solid 5px var(--verdebase);
                border-radius: 15px;
                margin: 20px;
                display: initial;
            }

        /* fin canvas */

        /* records */

            #tablaRecords {
                display: flex;
            }

            #tablaRecords table {
                color: var(--blancobase);
                background-color: var(--verdebase06);
                border-collapse: collapse;
                width: 90%;
                max-width: 750px;
                height: 50px;
            }

            #tablaRecords table tr th {
                font-weight: lighter;
                color: var(--blancobase);
                background-color: var(--grisbase);
            }

            #tablaRecords table tr th, #tablaRecords table tr td{
                padding: 10px 10px;
            }

            #tablaRecords table tr:hover {
                background-color: var(--negro05);
            }

        /* fin records */

    /* fin main */

/* fin body */
